<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Gloove</title>
</head>
<body>
    <div class="card" style="width: 18rem;">
        <div class="title">Congratulations!</div>
        <div class="card-body">
          <p class="card-text">Welcome to this winning team!</p>
        </div>
      </div>
</body>
</html>